Repository MAVRICK-1/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, config, documentation, docker, other

.github/labeler.yml:

backend:
  - backend/**

frontend:
  - src/**
  - public/**

ci:
  - .github/workflows/**

config:
  - tailwind.config.js
  - vite.config.ts
  - eslint.config.js
  - tsconfig*.json

documentation:
  - README.md
  - LICENSE
  - .github/ISSUE_TEMPLATE/**

docker:
  - Dockerfile
  - docker-compose.yml
  - .dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

other:
  - "*"

feat: add environment variable for local backend server URL in CI workflow
  .github/workflows/ci.yml
Labels: ci

fix: remove accidental changes and typos in Dockerfile, main.go, and ChangeThemes.tsx
  Dockerfile
  backend/main.go
  src/components/ChangeThemes.tsx
Labels: backend, frontend, docker, other

fix: remove accidental 'cc' characters from multiple files
  Dockerfile
  backend/Dockerfile
  backend/api/handlers.go
  src/components/PieChartDisplay.tsx
Labels: backend, frontend, docker, other

docs: Update README to enhance contributors section with new format
  README.md
Labels: documentation, other

Update docker-compose.yml
  docker-compose.yml
Labels: docker, other

Update .env.example
  backend/.env.example
Labels: backend

fix(backend): lower password length requirement to 4
  backend/utils/validation.go
Labels: backend
